/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

/*Zoom*/
.zoom {
    transition: transform .5s ease;
  }

  .zoom:hover {
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15); 
  }

/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

.main-background{
   
  background: url("../img/bienvenidos.jpg") no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
   min-height: 100vh;
   background-position-x: 25%;
}

.stroke{
 -webkit-text-stroke-width: 2px;
 -webkit-text-stroke-color: black;
}

.popover-body{
 font-size: 14px;
}

.container-balanza{
   background-image: url("../img/balanza.png");
   background-size: 85%;
   background-repeat: no-repeat;
   background-position: center;
   padding: 20px;
   padding-left: 20%;
   font-size: 2rem;
}


.background-confedi{
 background: url("../img/fondo2.jpg") no-repeat center center fixed; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 min-height: 100vh;
}

.background-confedi-gradient{
   background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("../img/bienvenidos.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   
}

.terms-box {
 padding: 10px;
 height: 400px;
 overflow: auto;
 font-size: 0.7rem;
}

.text-label-register{
 color: #01548a !important;
}

.custom-link {
 font-size: 1.2rem;
 color: white;
 text-shadow: rgb(8 0 0) 1px 1px;
}

.custom-link:hover{
 text-decoration: none; 
 color: #e99a01;
}

.active{
 text-decoration: none; 
 color: #e99a01;
}

.col {
 font-size: 1.0rem;
}


.float{
 position:fixed;
 width:60px;
 height:60px;
 bottom:73%;
 right:40px;
 background-color:#25d366;
 color:#FFF;
 border-radius:50px;
 text-align:center;
 font-size:30px;
 box-shadow: 2px 2px 3px #999;
 z-index:100;
}


.float2{
 position:fixed;
 width:60px;
 height:60px;
 bottom:85%;
 right:40px;
 background-color:#ce140d;
 color:#FFF;
 border-radius:50px;
 text-align:center;
 font-size:30px;
 box-shadow: 2px 2px 3px #999;
 z-index:100;
}

.my-float{
 margin-top:16px;
}

.mytitle{
 margin-top: 1%;
 font-size: 3rem;
}

.mylogo{
 width: 60%;
}


/*Social Icons Font Awesome*/


@media (max-width: 768px){
  .mylogo{
    width: 40%;
  }

  .popover-body{
    font-size: 12px;
  }

  .main-background{
    background-position:center;
}

.mytitle{
  margin-top: 50%;
  font-size: 30px;
}

.float{
  right:5px;
  bottom:73%;
}

.float2{
  right:5px;
  bottom:85%;
}
}

